h1{text-align: center; text-decoration: underline; text-decoration-color: black;}

.logo{width:100px; height:50px; border-style: groove;}

.rope{width:1200px; height:800px }

image{width: 1200px; height: 800px;}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: black;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}

@keyframes colourshift {
0%{background-color: blue;}
66%{background-color:green;}
100%{background-color: pink;}
}
div{animation-name: colourshift;
  animation-duration: 10s;
animation-timing-function:steps(2);

}
